@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS4790 A2</h1>
    <p class="lead">Repository Pattern with View Models</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Course With Sections</a></p>
</div>

